@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;
@import "./element/reset.scss";
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: arial, PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  font-size: $font-size-m;
  word-break: break-word;
  word-wrap: break-word;
  white-space: normal;
  @include color("text");
}

html {
  //注入颜色变量
  @include color-var-light;
  @include color-var-dark;
}

html {
  @include color-common-theme;
  //浅色模式
  @include color-light-theme;
}

html.dark {
  //暗色模式
  @include color-dark-theme;
}

#app {
  height: 100%;
  min-height: 100%;
  @include bgColor("bg");
}

html {
  //注入公共样式
  .important {
    @include color("blue");
  }

  .error,
  .fail,
  .required,
  .red {
    @include color("red");
  }

  .success,
  .green {
    @include color("green");
  }

  .flex {
    display: flex;
    align-items: center;
  }
  .title {
    @include color("title");
    font-size: $font-size-l;
    &.h {
      margin-bottom: $spacing-l;
    }
    &.bold {
      font-weight: 600;
    }
    &.bg {
      padding: $spacing-s $spacing-l;
      @include bgColor("gray-6");
    }
  }
  .row {
    height: 32px;
    line-height: 32px;
  }
  .prs {
    padding-right: $spacing-s;
  }
  .prl {
    padding-right: $spacing-l;
  }
  .prm {
    padding-right: $spacing-m;
  }
  .mrs {
    margin-right: $spacing-s;
  }
  .mrl {
    margin-right: $spacing-l;
  }
  .mrm {
    margin-right: $spacing-m;
  }
  .pls {
    padding-left: $spacing-s;
  }
  .pll {
    padding-left: $spacing-l;
  }
  .plm {
    padding-left: $spacing-m;
  }
  .mls {
    margin-left: $spacing-s;
  }
  .mll {
    margin-left: $spacing-l;
  }
  .mlm {
    margin-left: $spacing-m;
  }
  .form-item-p-25 {
    width: calc(25% - 20px);
    vertical-align: top !important;
    margin-right: $spacing-s !important;
  }
  .form-item-p-50 {
    width: calc(50% - 32px);
    vertical-align: top !important;
    margin-right: $spacing-s !important;
  }
  .form-item-p-100 {
    width: 100%;
    vertical-align: top !important;
    margin-right: $spacing-s !important;
  }
  .item-p-50 {
    width: 50%;
    display: inline-block;
  }
  .status_point {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-right: 8px;
    &.running {
      background: var(--color--blue);
      box-shadow: 0px 0px 3px 0px var(--color--blue);
    }
    &.warn {
      background: var(--color--yellow);
      box-shadow: 0px 0px 3px 0px var(--color--yellow);
    }
    &.normal,
    &.success {
      background: var(--color--green);
      box-shadow: 0px 0px 3px 0px var(--color--green);
    }
    &.block,
    &.fail,
    &.redWarn {
      background: var(--color--red);
      box-shadow: 0px 0px 3px 0px var(--color--red);
    }
  }
  .operate-list {
    display: flex;
    align-items: center;
    > * {
      margin-right: $spacing-l;
    }
    > svg {
      font-size: $font-size-l;
    }
  }
  //表格页面统一布局
  .base-table-page {
    height: 100%;
    overflow: hidden;

    &_main {
      height: calc(100% - 44px);
      @include bgColor("interactive-bg");
      box-sizing: border-box;
      padding: $spacing-l;
      display: flex;
      flex-direction: column;

      &_search {
        .search-list {
          display: flex;
          flex-wrap: wrap;
        }
      }

      &_table {
        flex: 1;
        display: block;
        position: relative;
        overflow: hidden;
      }
    }
  }

  .search-item {
    display: flex;
    align-items: center;
    margin-right: $spacing-l;
    margin-bottom: $spacing-l;

    .title {
      pointer-events: none;
      text-align: right;
      display: inline-block;
      min-width: 65px;
      font-size: $font-size-m;
      @include color("title");
      margin-right: $spacing-s;
    }
  }
  .search-btn {
    display: flex;
    margin-bottom: $spacing-l;

    &_box {
      display: flex;
      margin-left: $spacing-l;
    }
  }
  .action-list {
    display: flex;
    height: $height-l;
    padding: $spacing-base;
    margin-top: $spacing-s;
    .action-item {
      padding: 0 $spacing-s;
      border-right: 1px solid $light-border;
      line-height: $height-m;
      height: $height-m;
      @include flex();
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
  .el-form {
    &.readonly {
      .el-form-item {
        margin-bottom: 0px;
      }
    }
  }
}

* {
  transition: opacity 0.28s;
}

// 滚动条
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  @include bgColor("interactive-bg");
  border-radius: 8px;
}

//滚动条的滑块
::-webkit-scrollbar-thumb {
  @include bgColor("gray-8");
  border-radius: 8px;
}

html.dark {
  ::-webkit-scrollbar-thumb {
    @include bgColor("interactive-active-bg");
  }
}

::-webkit-scrollbar-corner {
  @include bgColor("interactive-bg");
}

input {
  &:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    background-color: transparent;
    background-image: none;
    transition: background-color 50000s ease-in-out 0s; //背景色透明  生效时长  过渡效果  启用时延迟的时间
  }
}

// input提示颜色
input::-webkit-input-placeholder {
  /* WebKit browsers */
  @include color("disabled");
}
input::-moz-placeholder {
  @include color("disabled");
}

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  @include color("disabled");
}

textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  @include color("disabled");
}

textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  @include color("disabled");
}

textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  @include color("disabled");
}
