// ----- height -----
$height-xxxl: 40px;
$height-xxl: 32px;
$height-xl: 26px; //常用页面大高度
$height-l: 24px; //常用附高度
$height-m: 20px; //常用高度
$height-s: 16px; //常用小高度
$height-xs: 14px;
$height-xxs: 12px;
$height-base: 2px;

// ----- font -----
$font-size-xxxl: 32px;
$font-size-xxl: 20px;
$font-size-xl: 16px; //常用页面大标题
$font-size-l: 14px; //常用附标题
$font-size-m: 12px; //常用正文
$font-size-s: 10px; //常用提示
$font-size-base: 2px;

// ----- padding | margin -----
$spacing-xxxl: 32px;
$spacing-xxl: 24px;
$spacing-xl: 20px;
$spacing-l: 16px; //常用间隔
$spacing-m: 12px; //常用间隔
$spacing-s: 8px; //常用间隔
$spacing-xs: 4px;
$spacing-base: 2px;

// ----- radius -----
$radius-base: 2px;
$radius-m: 2px; //常用圆角
$radius-l: 4px;
