$light-white: #ffffff;
$light-black: #29344e;

$light-text-1: #29344e;
$light-text-2: rgba(41, 51, 78, 0.85);
$light-text-3: rgba(41, 51, 78, 0.65);
$light-text-4: rgba(41, 51, 78, 0.3);
$light-text-5: rgba(41, 51, 78, 0.4);

$light-gray-1: rgba(41, 51, 78, 0.15);
$light-gray-2: rgba(41, 51, 78, 0.06);
$light-gray-3: rgba(41, 51, 78, 0.06);
$light-gray-4: #eff4fa;
$light-gray-5: #ecf1f6;
$light-gray-6: rgba(236, 241, 246, 0.55);
$light-gray-7: #f5f6f9;
$light-gray-8: #f7f9fc;
$light-gray-9: #ffffff;
$light-gray-10: rgba(0, 0, 0, 0.5);
$light-gray-11: #f5f8fc;
$light-gray-12: #fff;
$light-gray-13: #eff1f5;

$light-red-3: #f05d4f;
$light-red-2: #f9beb9;
$light-red-1: #feefed;
$light-red: $light-red-3;

$light-yellow-3: #faad14;
$light-yellow-2: #fddea2;
$light-yellow-1: #fff7e8;
$light-yellow: $light-yellow-3;

$light-blue-6: #708fff;
$light-blue-5: #4d6ee6;
$light-blue-4: #567aff;
$light-blue-3: #7895ff;
$light-blue-2: #ccd7ff;
$light-blue-1: #eef2fe;
$light-blue: $light-blue-4;

$light-green-3: #00cb50;
$light-green-2: #99eab9;
$light-green-1: #e5f9ed;
$light-green: $light-green-3;

$light-title: $light-text-1;
$light-text: $light-text-2;
$light-secondary: $light-text-3;
$light-disabled: $light-text-5;
$light-placeholder: $light-text-5;
$light-border: $light-gray-1;
$light-bg: $light-gray-4;
$light-table-header-bg: $light-gray-5;
$light-table-bg: $light-white;
$light-table-hover-bg: $light-blue-1;
$light-draw-bg: $light-gray-7;
$light-dialog-header-bg: $light-gray-8;
$light-dialog-bg: $light-white;
$light-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
$light-disabled-bg: $light-gray-3;
$light-interactive-bg: $light-white;
$light-interactive-active-bg: $light-white;
$light-widget-bg: $light-gray-9;
$light-interactive-hover-bg: $light-gray-2;
$light-overlay-bg: $light-gray-10;

@mixin color-var-light {
  --current-row-bg-color: #f6f8ff;

  --light--white: #{$light-white};
  --light--black: #{$light-black};

  --light--text-1: #{$light-text-1};
  --light--text-2: #{$light-text-2};
  --light--text-3: #{$light-text-3};
  --light--text-4: #{$light-text-4};
  --light--text-5: #{$light-text-5};

  --light--gray-1: #{$light-gray-1};
  --light--gray-2: #{$light-gray-2};
  --light--gray-3: #{$light-gray-3};
  --light--gray-4: #{$light-gray-4};
  --light--gray-5: #{$light-gray-5};
  --light--gray-6: #{$light-gray-6};
  --light--gray-7: #{$light-gray-7};
  --light--gray-8: #{$light-gray-8};
  --light--gray-9: #{$light-gray-9};
  --light--gray-10: #{$light-gray-10};
  --light--gray-11: #{$light-gray-11};
  --light--gray-12: #{$light-gray-12};
  --light--gray-13: #{$light-gray-13};

  --light--red-3: #{$light-red-3};
  --light--red-2: #{$light-red-2};
  --light--red-1: #{$light-red-1};
  --light--red: var(--light--red-3);

  --light--yellow-3: #{$light-yellow-3};
  --light--yellow-2: #{$light-yellow-2};
  --light--yellow-1: #{$light-yellow-1};
  --light--yellow: var(--light--yellow-3);

  --light--blue-6: #{$light-blue-6};
  --light--blue-5: #{$light-blue-5};
  --light--blue-4: #{$light-blue-4};
  --light--blue-3: #{$light-blue-3};
  --light--blue-2: #{$light-blue-2};
  --light--blue-1: #{$light-blue-1};
  --light--blue: var(--light--blue-4);

  --light--green-3: #{$light-green-3};
  --light--green-2: #{$light-green-2};
  --light--green-1: #{$light-green-1};
  --light--green: var(--light--green-3);

  --light--title: var(--light--text-1);
  --light--text: var(--light--text-2);
  --light--secondary: var(--light--text-3);
  --light--disabled: var(--light--text-4);
  --light--placeholder: var(--light--text-5);
  --light--border: var(--light--gray-1);
  --light--table-header-bg: var(--light--gray-5);
  --light--draw-bg: var(--light--gray-7);
  --light--bg: var(--light--gray-4);
  --light--table-bg: var(--light--white);
  --light--table-hover-bg: var(--light--blue-1);
  --light--dialog-header-bg: var(--light--gray-8);
  --light--dialog-bg: var(--light--white);

  --light--shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
  --light--disabled-bg: var(--light--gray-3);
  --light--interactive-bg: var(--light--white);
  --light--interactive-active-bg: var(--light--white);
  --light--widget-bg: var(--light--gray-9);
  --light--interactive-hover-bg: var(--light--gray-2);
  --light--overlay-bg: var(--light--gray-10);
}
